<style>
#instructions.hide-opacity {
    opacity: 0;
}

#backdrop {
    z-index: -2;
    position: fixed;
    width: 100%;
    height: 100%;
}

#mainDiv {
    display: block;
    width: 270px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: rgba(200, 200, 200, .75);
}

.listElem {
    padding: 10px 0 10px 0;
    background-color: transparent;
}

#sortable {
    display: block;
    background-color: transparent;
    padding-left: 0;

}

#coverphoto {
    display: block;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#listCont {
    display: block;
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

.listElemCont {
    text-align: center;
    background-color: transparent;
    width: 100%;
    padding-left: 25px;
    margin-bottom: -1px;
    border-width: 1px;
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
}

#instructions {
    text-align: center;
    padding: 0 10px;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    opacity: 1;
}

#submit {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 270px;
    background-color: rgba(200, 200, 200, .75);
    border-style: none;
}

#rankContainer {
}

#resultsContainer {
    text-align: center;
    display: none;
}

</style>
<img id="backdrop" src="images/vinyl-background.jpg">
<div data-role="page" id="mainDiv"> 
    <img id="coverphoto" src={{coverUrl}}>
    <div id="rankContainer">
        <p id="instructions">Click and drag below to rank </p>
        <div id="listCont">
            <ol id="sortable" ng-init="initializeTracks(); makeSortable()">
                <div class="listElemCont" ng-repeat="track in tracks track by $index" data-index="{{$index + 1}}"><li class="listElem ui-state-default">{{track.name}}</li></div>
            </ol>
        </div>
        <button id="submit" ng-click="getOrder(); writeAlbum(); showResults()"><b>SUBMIT</b></button>
    </div>
    <div id="resultsContainer">
        <h1>RESULTS</h1>
        <div id="resultsListCont">
            <ol id="resultsList">
                <li ng-repeat="track in results track by $index">{{track.name}}</li>
            </ol>
        </div>      
    </div>
</div>

<script>
$(document).ready(function(){
    $('#submit').on('click', function(){
    });    
});


</script>
